<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hansel Ramos Test - 12Mix</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.teal-blue.min.css">
    <script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <style>
        .demo-content {
            padding: 20px;
        }
        template{
            display: none;
        }
        .decoration-none{
            text-decoration: none;
        }
        .text-center{
            text-align: center;
        }
        .table-center{
            margin:auto;
        }
    </style>
</head>
<body>
<div class="demo-layout mdl-layout mdl-layout--fixed-header mdl-js-layout mdl-color--blue-100">
    <header class="demo-header mdl-layout__header mdl-layout__header--scroll mdl-color--grey-100 mdl-color-text--grey-800">
        <div class="mdl-layout__header-row">
            <span class="mdl-layout-title">Weather Test - Hansel Ramos - 12Mix</span>

            <div class="mdl-layout-spacer"></div>
            <form method="get">
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
                    <label class="mdl-button mdl-js-button mdl-button--icon" for="city">
                        <i class="material-icons">search</i>
                    </label>

                    <div class="mdl-textfield__expandable-holder">
                        <input class="mdl-textfield__input" type="text" name="city" id="city" value="{query}">
                        <label class="mdl-textfield__label" for="city">Enter your city...</label>
                    </div>
                </div>
            </form>
        </div>
    </header>
    <div class="demo-ribbon"></div>
    <main class="demo-main mdl-layout__content">
        <div class="demo-container mdl-grid">
            <div class="mdl-cell mdl-cell--2-col mdl-cell--hide-tablet mdl-cell--hide-phone"></div>
            <div class="demo-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--8-col">
                <!-- Search -->
                <h4 class="search" style="display: none;">Results of "{query}" search</h4>
                <div class="search demo-list-action mdl-list" id="search-results" style="display: none;">
                    <template>
                        <div class="mdl-list__item">
                            <span class="mdl-list__item-primary-content">
                                <a class="mdl-list__item-secondary-action" href="{city_url}" target="_blank" title="View in map">
                                    <i class="material-icons mdl-list__item-avatar">location_on</i>
                                </a>
                                <span>{city_name}, {city_country}</span>
                            </span>
                            <a class="mdl-list__item-secondary-action decoration-none" href="{city_weather_url}" title="View weather">
                                <i class="material-icons">wb_sunny</i> <i class="material-icons">cloud</i>
                            </a>
                        </div>
                    </template>
                </div>
                <!-- Search End -->
                <!-- Weather -->
                <h4 class="weather text-center " style="display: none;">Weather in {city_name}, {city_country}
                    <a class="mdl-list__item-secondary-action" id="city-url" href="" target="_blank" title="View in map">
                        <i class="material-icons mdl-list__item-avatar">location_on</i>
                    </a>
                </h4>
                <h5 class="weather text-center" id="weather-today">
                    {today_temp}    <i class="material-icons">cloud</i> {today_cloudiness}    <i class="material-icons">toys</i> {today_wind}
                </h5>
                <h5 class="weather text-center">
                    Today Weather
                </h5>
                <div class="weather text-center" id="weather-today-list">
                    <table class="table-center">
                        <tr>
                            <template>
                                <td class="text-center">
                                    {starttime} - {endtime}<br />
                                    {temp}<br />
                                    <i class="material-icons">cloud</i> {cloudiness}<br />
                                    <i class="material-icons">toys</i>{wind}
                                </td>
                            </template>
                        </tr>
                    </table>
                </div>
                <h5 class="weather text-center">
                    Next 5 days Weather
                </h5>
                <div class="weather text-center" id="weather-list">
                    <template>
                        <table class="table-center mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                            <thead>
                                <tr>
                                    <th>{date}</th>
                                    <th>{temp}</th>
                                    <th>{cloudiness}</th>
                                    <th>{wind}</th>
                                </tr>
                            </thead>
                        </table>
                    </template>
                </div>
                <!-- Weather End -->
            </div>
        </div>
        <footer class="demo-footer mdl-mini-footer">
            <div class="mdl-mini-footer--left-section">
                <ul class="mdl-mini-footer--link-list">
                    <li><a href="#">Hola</a></li>
                </ul>
            </div>
        </footer>
    </main>
</div>
<script>
    var search_results = '{search_results}';
    var app = {
        init : function(){
            if(search_results!='') {
                search_results = JSON.parse(search_results);
                app.showSearchResults();
                $(".search").show();
            }else{
                app.city = JSON.parse(app.city);
                app.weathers = JSON.parse(app.weathers);
                app.weather_today = JSON.parse(app.weather_today);
                app.showWeatherResult();
                $(".weather").show();
            }
        }
        , showSearchResults : function(){
            var template = $("#search-results template").html();
            $(search_results).each(function(index, value){
                var _city = template;
                _city = _city.replace("{city_name}",value.name);
                _city = _city.replace("{city_country}",value.country);
                _city = _city.replace("{city_url}",app.google_maps_url_patern.replace('{lat}',value.coord.lat).replace('{lon}',value.coord.lon).replace('{zoom}',app.google_maps_default_zoom));
                _city = _city.replace("{city_weather_url}",location.protocol + '//' + location.host + location.pathname+"?weather="+value._id);
                $("#search-results").append(_city);
            });
        }
        , showWeatherResult: function(){
            $(".weather #city-url").attr("href",app.google_maps_url_patern.replace('{lat}',app.city.coord.lat).replace('{lon}',app.city.coord.lon).replace('{zoom}',app.google_maps_default_zoom));
            app.showTodayWeather();

            var template = $("#weather-list template").html();
            $(app.weathers).each(function(index, value){
                if(app.weather_today.date != value.date) {
                    var _date = template;
                    _date = _date.replace('{date}', value.date);
                    $("#weather-list").append(_date);
                }
            });
        }
        , showTodayWeather : function(){
            var template = $("#weather-today-list table tr template").html();
            var temp = 0, cloudiness = 0, wind = 0;
            $(app.weather_today.weathers).each(function(index, value){
                if(app.weather_today.date != value.date) {
                    var _period = template;
                    _period = _period
                            .replace('{temp}', app.tempToCelsius(value.temp)+"ºC")
                            .replace('{starttime}', new Date(value.starttime*1000).getHours()+":00")
                            .replace('{endtime}', new Date(value.endtime*1000).getHours()+":59")
                            .replace('{cloudiness}', value.cloudiness+"%")
                            .replace('{wind}', app.windSpeedToKmh(value.wind)+"Km/h")
                    ;
                    temp+= app.tempToCelsius(value.temp);
                    cloudiness += value.cloudiness;
                    wind += value.wind;
                    $("#weather-today-list table tr").append(_period);
                }
            });
            temp = temp/app.weather_today.weathers.length;
            cloudiness = cloudiness/app.weather_today.weathers.length;
            wind = wind/app.weather_today.weathers.length;
            $("#weather-today").html(
                    $("#weather-today").html()
                            .replace("{today_temp}",(Math.round(temp*100)/100)+"ºC")
                            .replace("{today_cloudiness}",Math.round(cloudiness*100)/100+"%")
                            .replace("{today_wind}",app.windSpeedToKmh(Math.round(wind*100)/100)+"Km/h")
            );
        }
        , tempToCelsius : function(value){
            //return (value-32)*5/9;
            return Math.round((value - 273.5)*100)/100;
        }, windSpeedToKmh : function(value){
            return Math.round(value*3.6*100)/100;
        }
        , google_maps_url_patern : '{google_maps_url_patern}'
        , google_maps_default_zoom : '{google_maps_default_zoom}'
        , city:'{city}'
        , weathers: '{weathers}'
        , weather_today: '{weather_today}'
    };
    $(document).ready(function(){
        app.init();
    });

</script>

</body>
</html>